<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>Ninjas</title>
</head>
<body>
  <h2>Ninjas Are Awesome</h2>
  <p>They do some awesome things. They are highly trained assasins. You shouldn't fight a ninja</p>
  <ul><p>Stuff Ninjas Do</p>
    <li>Flips</li>
    <li>Karate Chops</li>
    <li>More Flips</li>
    <li>Punch</li>
    <li>Kick</li>
    <li>Flips some More</li>
  </ul>
</body>
</html>
